
.home {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 20px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.home-img img {
  width: 25vw;
}

@media (max-width: 768px) {
   .home-img img {
      width: 60vw;
    }
 }
