:root {
  --bg-color: #323946;
  --second-bg-color: #fff;
  --text-color: #fff;
  --main-color: #0ef;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2, h4{
  color: var(--text-color);
}

.menu {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Mostra 3 itens por linha no desktop */
  gap: 20px;
  margin-bottom: 80px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
  background: var(--second-bg-color);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .menu {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Mostra 1 item por linha no mobile */
  }
  .card {
    margin: 0px 15px;
  }
}
